                                                                                                    
                                                                                                    
                       ......                                           .....                       
                 ..-++++*++++++=:                                 .:=++++++++++=-..                 
               .-+++++++++++++++++=.                            .=+++++++++++++++++-.               
              -+++++++++++++++++++++=.                        .=+++++++++++++++++++++-              
            .+++++++++=.  ..-+++++++++.                      .+++++++++-..  .=+++++++++.            
           .=++++++=.          :+++++++:                    :+++++++:          .=++++++=.           
          .-++++++:             .=++++++.                  .=+++++=.             :++++++-.          
          :++++++-               .=+++++=                  =+++++=:               -++++++:          
         .:*+++++                .-*++++=                  =+++++-.               .=+++++:.         
         .-*++++=                .-*++++=                  =+++++-.                =+++++-.         
         .-*++++=                .-*++++=                  =+++++-.                =+++++-.         
         .-*++++=                .-*++++=                  =+++++-.                =+++++-.         
         .-*++++=                .-*++++=                  =+++++-.                =+++++-.         
         .-*++++=                .-*++++=                  =+++++-.                =+++++-.         
         .-*++++= ...::::---------=*+++++----------------------------------::::... =+++++-.         
         .-*++++=::---------------=*+++++----------------------------------------::=+++++-.         
         .-*+++=------------------=*+++++-------------------------------------------=++++-.         
         .-*+=----------::::::::::=*+++++::::::::::::::::::-=====-::::::::::----------=++-.         
         .-+=-------:..          .-*++++=                  =+++++-.          ..:-------=+-.         
         .:=------:.             .-*++++=                  =+++++-.             .:------=-.         
         .:------:.              .-*++++=                  =+++++-.              .:------:.         
         .:------.               .-*++++=                  =+++++-.               .------:.         
         ..-----:                .-*++++=                  =+++++-.                :-----:.         
         .:------.               .-*++++=                  =+++++-.               .------:.         
         .:------:.              .-*++++=                  =+++++-.              .:------:.         
         .:=------:.             .-*++++=                  =+++++-.             .:------=-.         
         .:+=-------:..          .-*++++=                  =+++++-.          ..:-------=+-.         
         .:++=----------::::::::::-=====-::::::::::::::::::=+++++=::::::::::----------=++-.         
         .:++++=-------------------------------------------=+++++=------------------=++++-.         
         .:+++++=::----------------------------------------=+++++=----------------:=+++++-.         
         .:+++++= ...::::----------------------------------=+++++=----------:::... =+++++-.         
         .:+++++=                .-+++++=                  =+++++-.                =+++++-.         
         .:+++++=                .-+++++=                  =+++++-.                =+++++-.         
         .:+++++=                .-+++++=                  =+++++-.                =+++++-.         
         .:+++++=                .-+++++=                  =+++++-.                =+++++-.         
         .:+++++=                .-+++++=                  =+++++-.                =+++++-.         
         .:++++++.               .-+++++=                  =+++++-.                =+++++:.         
          :++++++-               .=+++++=                  =+++++=.               -++++++:          
          .-++++++:             .=++++++.                  .=+++++=.             :++++++-.          
           .=++++++-.          :+++++++:                    :+++++++:          .-++++++=.           
           ..=++++++++=.  ..-+++++++++.                      .++++++++=-.   .-+++++++++..           
              -+++++++++++++++++++++=.                        .=+++++++++++++++++++++-              
               .-+++++++++++++++++=.                            .=+++++++++++++++++-.               
                 ..-+++++++++++=:                                  :=+++++++++++-..                 
                       .....                                            .....           

                                WELCOME TO GOOGLE AI HYPERCOMPUTER

